body,div,p,ul,ol,li,dl,dt,dd,table,tr,td,th,form,h1,h2,h3,h4,h5,h6,input,textarea,figure，fieldset{
	margin:0;
	padding:0;
}

body{
	font-family:"Microsoft YaHei",Arial;
}
	
a{
	text-decoration:none;
}
img{
	border:0;
}
ul,ol{
	list-style:none;
}



移动
/*css document*/


body,div,p,ul,ol,li,dl,dt,dd,table,tr,td,th,form,h1,h2,h3,h4,h5,h6,input,textarea,fieldset,figure{
	margin:0;
	padding:0;
}
html{

	font-size: 26.67vw;
}
html,body{
	height: 100%;
}
body{
	font-family:"微软雅黑",Arial;
	background: #ffffff;
	display: -webkit-flex;
	-webkit-flex-direction: column;
}
::-webkit-scrollbar/*整体部分*/
{
width: 0px;
height: 0px;
}

::-webkit-scrollbar-track/*滑动轨道*/
{
-webkit-box-shadow: inset 0 0  0px rgba(0,0,0,0.2);
border-radius: 0px;
background: #12fafd /*rgba(0,0,0,0.1)*/;
}

::-webkit-scrollbar-thumb/*滑块*/
{
border-radius:  0px;
-webkit-box-shadow: inset 0 0  0px rgba(0,0,0,0.2);
background: #12a7fd /*rgba(0,0,0,0.2)*/;
}

::-webkit-scrollbar-thumb:hover/*滑块效果*/
{
border-radius:  0px;
-webkit-box-shadow: inset 0 0  0px rgba(0,0,0,0.2);
background: #39fd70 /*rgba(0,0,0,0.4)*/;
}
ul,ol{
	list-style:none;
}
a{
	text-decoration:none;
}
img{
	border:0;
	display: block;
}
/* header开始 */
header{
    width:100%;
	height:0.34rem;
	display:flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	left:0;
	top:0.09rem;
	z-index:2;
}
.Y-header-left{
    width:0.48rem;
	height:0.34rem;
	font-size:0.12rem;
	color:#efffff;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
/* .icon-location{
	font-size: 0.23rem;
	color:#efffff;
} */
.Y-header-search-box{
	width:2.23rem;
	height:0.34rem;
	background:#cde6f3;
	font-size:0.14rem;
	color: #666666;
	line-height: 0.34rem;
	border-radius:0.1rem;
}
.icon-sousuo{
	margin-left: 0.07rem;
	margin-right: 0.05rem;
}
.Y-header-right{
	width:0.6rem;
	height:0.34rem;
	font-size: 0.22rem;
	color: #efffff;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
/* header结束 */


/* section开始 */
section{
	width:100%;
	position: relative;
	flex:1;
	overflow-x: hidden;
	overflow-y: auto;
}
.sectionbox{
	width:100%;
}
/* 轮播图开始 */
.Y-swiper-container{
	width:100%;
	height:1.9rem;
}
.Y-swiper-container img{
	width:100%;
	height:1.9rem;
}

.swiper-pagination{
	width:100%;
	height:0.1rem;
	position: absolute;
	left:0;
	top:1.41rem;
	display: flex;
	justify-content: center;
}
.swiper-pagination span{
	width:0.1rem;
	height:0.1rem;
	border-radius:50%;
	background:#ff3333;
}
/* 轮播图结束 */

/* 导航盒子开始 */
.Y-nav{
	width:3.55rem;
	height:1.09rem;
	background:#ffffff;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-top-left-radius:0.1rem;
	border-top-right-radius:0.1rem;
	position: absolute;
	left:0.1rem;
	top:1.56rem;
	z-index: 1;
}
.Y-nav-box{
	width:0.71rem;
	font-size:0.12rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.Y-nav-box img{
	width:0.48rem;
	height:0.48rem;
}
/* 1号热线开始 */
.Y-Hotline{
	width:3.55rem;
	height:0.32rem;
	background:#ffffff;
	margin:0 auto;
	margin-top:0.78rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
	overflow:hidden;
}
.Y-Hotline img{
	width:0.65rem;
	height:0.16rem;
}
.Y-ulbox{
	width:1.88rem;
	height:0.64rem;
	margin-top: 0.3rem;
	/* display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center; */
}
.Y-libox{
	
	display: block;
	width:1.88rem;
	height:0.32rem;
	font-size: 0.13rem;
	line-height: 0.32rem;
	color:#333333;
}

/* 新人专享 */
.Y-Newlyweds{
	width:3.55rem;
	height:1.13rem;
	margin:0 auto;
	margin-top:0.12rem;
	display: flex;
	align-items: center;
	justify-content: center;
}
.Y-imgbox{
	width:1.77rem;
	height:1.13rem;
}
.Y-imgbox img{
	width:1.77rem;
	height:1.13rem;
}
/* 新人专享结束 */

/* 超级单品 */
.Y-Supersingle{
	width:3.55rem;
	height:2.1rem;
	background:#ffffff;
	margin:0 auto;
	margin-top: 0.11rem;
}
/* 倒计时和超值购 */
.Y-Countdownandvaluepurchase{
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-top: 0.13rem;
}
.Y-Countdown{
	display: flex;
	justify-content:flex-start;
	align-items: center;
}
.Y-Countdown h3{
	font-size: 0.17rem;
	margin-right: 0.06rem;
}
.Y-Countdown span{
	font-size: 0.1rem;
	display: flex;
	justify-content:center;
	align-items: center;
}
.Y-time .num{
	width:0.2rem;
	height:0.17rem;
	background:#666666;
}
/* 爆款超值购 */
.Y-Bursting {
	font-size:0.13rem;
	color: #ff6666;
}
/* 物品栏 */
.Y-Singlebar{
	width:100%;
	height:1.8rem;
	display: flex;
	overflow-x: auto;
}
.Y-goodsbox{
	width:1rem;
	height:1.65rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.Y-goodsbox img{
	width:1rem;
	height:1rem;
}
.Y-goodsbox .Y-title{
	font-size: 0.12rem;
	color: #333333;
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.Y-price{
	display: flex;
	align-items: center;
}
.Y-goodsbox .Y-price .Y-Present-price{
	font-size:0.12rem;
	color: #cc3333;
}
.Y-goodsbox .Y-price .Y-Original-price{
	font-size: 0.08rem;
	color: #999999;
	text-decoration: line-through;
}
.Y-Singlebar a{
	font-size: 0.12rem;
	color: #cccccc;
	margin-left: 0.1rem;
	padding-right: 0.1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.Y-Singlebar a .icon-you{
	margin-top: 0.05rem;
}
/* 超级单品结束 */

/* 超级品牌和超级品类 */
.Y-category{
	width:3.55rem;
	height:1.42rem;
	margin:0 auto;
	display: flex;
}
.Y-category img{
	width:1.78rem;
	height:1.42rem;
}
.Y-brand h3{
	font-size: 0.16rem;
	color: #333333;
	z-index: 1;
	position: absolute;
	left:0.11rem;
	top:0.11rem;
}
.Y-brand{
	position: relative;
}
.Y-category h3{
	font-size: 0.16rem;
	color: #333333;
	position: absolute;
	left:0.11rem;
	top:0.11rem;
	z-index: 1;
}
/* 食品 */
.Y-foodbox{
	width:3.55rem;
	height:1.31rem;
	margin:0 auto;
	margin-top:0.11rem;
	position: relative;
	display: flex;
}
.Y-foodimg{
	width:1.78rem;
	height:1.31rem;
	
}
.Y-foodimgtitle{
	width:0.95rem;
	height:0.34rem;
	position: absolute;
	top:0;
	left:-1%;
}
.Y-eat{
	font-size:0.14rem;
	color: #ffffff;
	position: absolute;
	top:4%;
	left:2%;
	font-weight:600;
}
/* 进口食品 */
.Y-jinkou{
	width:1.78rem;
	height:1.31rem;
}
/* 食品类别 */
.Food-category{
	width:3.55rem;
	height:1.45rem;
	background:#ffffff;
	margin:0 auto;
	overflow-x: auto;
	display: flex;
}
.Food-category-box{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.Food-category-box img{
	width:0.8rem;
	height:0.8rem;
	padding-top: 0.1rem;
}
.Food-category-box p{
	font-size: 0.14rem;
	color: #333333;
	margin-top:0.1rem;
}
/* 懂你想要 */
.want-to{
	width:3.55rem;
	margin:0 auto;
	margin-top:0.1rem;
}
.Understand-title{
	width:100%;
	height:0.37rem;
	line-height: 0.37rem;
}
.Understand-title h3{
	font-size: 0.17rem;
	color: #333333;
}
/* 物品 */
.goods-box-box{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.goods{
	width:1.7rem;
}
.goods img{
	width:1.5rem;
	height:1.5rem;
	margin:0 auto;
}
.Y-juan{
	width:0.18rem;
	font-size: 0.1rem;
	text-align: center;
	color:#ff6600;
	border:1px solid #ffcc99;
	margin-top: 0.09rem;
}
.Y-oldthing{
	font-size: 0.13rem;
	color: #333333;
	margin-top: 0.1rem;
}
.Y-shipin{
	font-size: 0.13rem;
	color: #333333;
	margin-top: 0.05rem;
}
.Y-price-p{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 0.17rem;
	padding-bottom: 0.13rem;
}
.Y-red-price{
	width:0.5rem;
	height:0.2rem;
	font-size: 0.14rem;
	color: #ff3300;
	background: url(../../static/assets/img/beijing.jpg);
}
.Y-similarity{
	width:0.5rem;
	height:0.2rem;
	border:1px solid #cccccc;
	font-size: 0.12rem;
	color:#999999;
	text-align: center;
	line-height: 0.2rem;
}
